<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Notizverwaltung</title>
        <link rel="stylesheet" type="text/css" href="../css/style.css">
    </head>
    <body>
        <div class="container">
            <header>
                <form class="box">
                    <div class="configurations">
                        <input type="button" class="addButton" value="Create new Note">
                        <nav class="sort">
                            <label><input type="radio" id="sortByFinishDate" name="sortBy" checked><span>By finish Date</span></label>
                            <label><input type="radio" id="sortByCreatedDate" name="sortBy"><span>By create Date</span></label>
                            <label><input type="radio" id="sortByImportance" name="sortBy"><span>By Importance</span></label>
                        </nav>
                    </div>
                    <aside>
                        <div class="theme">
                            <label for="theme">Theme</label>
                            <select id="theme">
                                <option value="classic-theme">Classic-Theme</option>
                                <option value="night-theme">Night-Theme</option>
                            </select>
                        </div>
                        <div class="filter">
                            <label><input type="checkbox"  id="filterByFinished"><span>Show finished</span></label>
                        </div>
                    </aside>
                </form>
            </header>
            <main>

            </main>
            <footer></footer>
        </div>
        <script src="http://code.jquery.com/jquery-2.2.3.min.js">
        </script>
        <script src="../js/localStorage.js"></script>
        <script src="../js/util.js"></script>
        <script src="../js/main.js"></script>
    </body>
</html>

